body {
    /* This prevents scrolling */
    /* align-items: center; Vertically center everything. */
    /* height: 100vh; Make sure everything fits perfectly into one screen */
    margin: 0;
    padding: 0;
    background: #101010;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* https://youtu.be/Og-YEeCTE7A?si=Oeatz5G8KOPQ_fwD */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    width: 100%;
    /* position: fixed; */
    position: sticky;
    top: 0;
    background-color: transparent;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 9rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-menu {
    /* horizontally in a row. */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
    color: #4169E1;
    /* https://cssgradient.io/shades-of-blue/ */
    /* background: #90b2f0; */
    background: #AFDBF5;
    border: 2px solid #AFDBF5;
}

.navbar-toggle {
    /* hides the hamburger button on large screens  */
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}


/*  take up the full viewport and center its content vertically. */
#hero {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    min-height: 90vh;
    /* Make it at least as tall as the screen */
}

/* This class will be used for all sections to keep them centered and spaced out. */
.page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    /* padding: 4rem 2rem; */
    /* Add vertical and horizontal padding */
    /* max-width: 800px; */
    /* Constrain the width for readability */
    /* margin: 0 auto; */
    /* Horizontally center the section in the body */
}


#intro-text {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1.6;
}

#name {
    color: #8db5ff;
    /*  modern blue */
    font-weight: bold;
}

h5 {
    font-size: 2rem;
    border-bottom: 2px solid #8db5ff;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

#about.page-section {
    flex-direction: column;
    justify-content: center;
}

.about-text-box {
    border: 2px solid #8db5ff;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
    max-width: 900px;
    background-color: rgba(17, 16, 16, 0.05);
}

.about-text-box p {
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
    list-style: 1.7;
}


#projects.page-section {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

#projects {
    background-color: #101010;
}

/* https://youtu.be/uTPO6fKtBvM?si=uGHLq09rY6k1jD9E */
.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    width: 80%;
    max-width: 1200px;
    gap: 2rem;
    padding: 1rem;
    /* row-gap: 5rem; */
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #232b3341;
    border: 2px solid #8db5ff;
    border-radius: 15px;
    gap: 2rem;
    padding: 1.5rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px #8db5ff;
    transition: all 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 0 20px #8db5ff;
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
    height: 250px;
    /* max-width: 300px; */
    border-radius: 10px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 1.75rem;
    margin: 0;
}

.projects-box p {
    /* margin: 0; */
    /* text-align: center; */
    font-size: 1rem;
    line-height: 1.6;
    flex-grow: 1;
    /* list-style: 1.7; */
}

.btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #00000041; */
    /* color: #4169E1; */
    /* padding: 0.5rem 0.5rem; */
    border-radius: 8px;
    /* font-weight: bold; */
    /* font-size:medium; */
    text-decoration: none;
    margin-top: 0rem;
    /* transition: background-color 0.3s ease; */
}

.btn a{
    display: flex;
     justify-content: center;
    align-items: center;

}
.btn img {
      width: 60px;
    height: 60px;
}

.btn:hover {
    background-color: #8db5ff;
    padding: 0.4rem 0.4rem;
      transform: scale(1.1);
}

/* https://prismic.io/blog/css-text-animations */
.wave-text {
    font-size: 3rem;
    display: inline-block;
}

.wave-text span {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    font-family: 'Epunda Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    animation: subtle-wave 2s ease-in-out infinite;
}

/* Staggered delays for the wave effect */
.wave-text span:nth-child(1) {
    animation-delay: 0.1s;
}

.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.wave-text span:nth-child(3) {
    animation-delay: 0.3s;
}

.wave-text span:nth-child(4) {
    animation-delay: 0.4s;
}

.wave-text span:nth-child(5) {
    animation-delay: 0.5s;
}

.wave-text span:nth-child(6) {
    animation-delay: 0.6s;
}

.wave-text span:nth-child(7) {
    animation-delay: 0.7s;
}

.wave-text span:nth-child(8) {
    animation-delay: 0.8s;
}
/* 
.wave-text span:nth-child(9) {
    animation-delay: 0.9s;
}

.wave-text span:nth-child(10) {
    animation-delay: 1.0s;
}

.wave-text span:nth-child(11) {
    animation-delay: 1.1s;
}

.wave-text span:nth-child(12) {
    animation-delay: 1.2s;
}

.wave-text span:nth-child(13) {
    animation-delay: 1.3s;
}

.wave-text span:nth-child(14) {
    animation-delay: 1.4s;
}

.wave-text span:nth-child(15) {
    animation-delay: 1.5s;
}

.wave-text span:nth-child(16) {
    animation-delay: 1.6s;
}

.wave-text span:nth-child(17) {
    animation-delay: 1.7s;
}

.wave-text span:nth-child(18) {
    animation-delay: 1.8s;
} */



/* Keyframes for the subtle animation */
@keyframes subtle-wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

/* Responsive style */
@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;

    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media (max-width: 880px) {
    .navbar-container {
        padding: 0 1rem;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }

    .wave-text span {
        font-size: 2.5rem;
    }

    #intro-text {
        font-size: 1.2rem;
        line-height: 1.6;
    }

}




/* 
     min-height: 100vh;
     /* Makes the container at least the height of the screen */
/* display: flex; */
/* justify-content: center; Horizontally centers the content */
/* align-items: center;      Vertically centers the content  */
/* https://stackoverflow.com/questions/2498003/center-a-div-box-in-the-middle-of-the-page-using-css */